body {background-image: url(../imag/emc2.jpg); }
table {background-color: white;margin: auto;}
header {background-color: black;color: white;padding: 2em;}
* {text-align: center;}

input {
    text-decoration: none; align-items: center;
}
input:hover {background-color: black;color: white;}


article p {margin: auto;text-align: center;padding: 0.5em;margin: auto;}

table.resultados {
    border-collapse: collapse;margin-bottom: 3em;
}

table.resultados caption {
    font-weight: bold;
    margin-bottom: 1em;border-radius: 6px;
}

table.resultados th, table.resultados td {
    padding: 0.5em 1em;
    border: 1px solid grey;border-radius: 6px;
}
article.botones input {
    padding: 0.5em 1em; margin: 0 0.5em; background-color: black;
    color: white;border-radius: 5px;font-size: large;
 }
article.botones input:hover {
    background-color: darkgray;color: black;
}


#menu a {text-decoration: none;color: black;
}   
nav ul {
    display: flex ; justify-content: center; 
  }
#menu ul li {
    list-style: none;padding: 0.5em 2em;margin: 10px;background-color: rgb(144, 187, 204);
    display: flex;justify-items: auto;
}
#menu ul li:hover a {
    font-weight: bold;color: white;background-color: blue;
}
#menu ul li:hover {
    ;background-color: blue;
}
body {
    text-align: center;
}
main article { 
    display: grid; text-align: center; background-color: white; 
margin: auto; max-width: 60%;margin-top: 2em;border-radius: 1em;
}
input {
    max-width: 20%; margin: auto; margin-bottom: 1em;
    padding: 0.5em 3em;background-color: lightgrey;border-radius: 10px;font-size: large;font-size: inherit;
    
}
#nome p{
    display: inline-block;margin: 0;text-align: center;
}
#textos {
    background-color: aqua;padding: 0.5em 1em;  text-align: center;
}

#nome p input {
    margin: 0; padding: 0;
    text-align: center;margin: 1em;padding: 0.5em 1em;
}
#pantalla {
    background-color: white;
}
p, ul, li {list-style: none;}
#datos {background-color: blue;color: white;padding: 1em;margin: 0.5em;border-radius: 5px;}
#detalle {background-color: lightblue;}
#bmostras {display: inline-flex;justify-content: center;}
#bmostras p button {background-color: blue;color: white;
    border-radius: 8px;width: 90px; height: 50px;}
#bmostras p button:hover {background-color: black;}

#pollito {text-align: center;margin: auto;}

#noscript {
    color: black;text-align: center;margin: auto; margin-bottom: 5em;   
}

#frame {margin: auto;margin-bottom: 2em;}
h2 {background-color: rgb(0, 28, 153);color: white;padding: 0.5em;margin-top: 0;}
#nfact {width: auto;display: block;text-justify: auto;}
#nfact value {color: brown;}
#nfact input:hover { background-color: darkgrey;
}
#calculando p {
    display: inline-block;margin: 0;text-align: center;
}
#calculando p input {
    margin: 0; padding: 0;
    text-align: center;margin: 1em;padding: 0.5em 1em;font-size: inherit;
}
#botN {margin: 0; padding: 0;display: inline-block;
    text-align: center;margin: auto;padding: 0.5em; align-items: center; font-size: inherit; } 
#solto {
    background-color: transparent;
    color: white;text-align: center;font-size: xx-large;padding: auto;margin-top: 2em;
}
#suma2 p { margin: 0; padding: 0;display: inline-block;margin: 0;text-align: center;}
#suma2 p input {
    text-align: center;margin: 1em;padding: auto;font-size: inherit;
}
#b2 {background-color: rgb(166, 166, 224);}
#b2:hover {background-color: darkblue;}
#suma3 {margin: 0; padding: 0;display: inline-block;margin: 0;text-align: center;}
#suma3 p input {    text-align: center;margin: 1em;padding: auto;font-size: inherit;
}